@charset "UTF-8";

.slide {
  padding: 1em;
}

.slide::after {
  padding-top: 0.5em;
  right: 0.5em;
  height: 4em;
  width: 2em;
  background: none;
  color: black;
}

.slide {
  font-size: 0.8em;
}

.slide table {
  margin-left: 0;
  margin-right: 0;
}


.slide table th:first-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.slide table td:first-child {
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.slide table th:last-child {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.slide table td:last-child {
  padding: 0;
}

.slide table tr:not(:last-of-type) > * {
  background: none;
}


/* List */
.slide ul li {
  text-indent: 0;
}
.slide ul {
  margin: 0.5em;
}

.shower dt {
  font-weight: bold;
}

.slide pre code {
  margin-left: 0;
  width: 100%;
  line-height: 1.2;
}

li {
  padding-left: 1em;
  line-height: 1.5em;
}
.slide ul, .slide ol {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

dd {
  padding-left: 2em;
}

blockquote {
  margin-left: 3em;
  margin-bottom: 1em;
  line-height: 1.2em;
}

.slide p {
  margin-bottom: 0.5em;
}


#cover::after {
  visibility: hidden;
}

